## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Scientists
- List some of the commonly used libraries by data scientists
- Evaluate arithmetic expressions using python
- Create and format tables in markdown
- Convert time units

Some of the popular languages that Data Scientissts use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commmonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in python

1. Addition: '5 + 5 = 10'
2. Subtraction '10 - 5 = 5'
3. Multiplication '10 * 10 = 100'
4. Division '100 / 50 = 2'

In [43]:
# This is a simple arithmetic expression to multiply then add integers

In [41]:
result = (3 * 4) + 5
result

17

In [45]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Balqis Bankole